        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            margin: 0 auto;
        }

        header {
            width: 100%;
            padding: 10px 0;
            color: black;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        nav ul {
            background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
            background: -o-linear-gradient(#bdc3c7, #2c3e50);
            background: -moz-linear-gradient(#bdc3c7, #2c3e50);
            background: linear-gradient(#bdc3c7, #2c3e50);
            overflow: hidden;
            color: white;
            padding: 0;
            text-align: center;
            margin: 0;
            -webkit-transition: max-height 0.4s;
            -ms-transition: max-height 0.4s;
            -moz-transition: max-height 0.4s;
            -o-transition: max-height 0.4s;
            transition: max-height 0.4s;

        }

        nav ul li {
            display: inline-block;
            padding: 20px;
        }

        nav ul li:hover {
            background-color: #60646c;
        }

        .handle {
            width: 100%;
            background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
            background: -o-linear-gradient(#bdc3c7, #2c3e50);
            background: -moz-linear-gradient(#bdc3c7, #2c3e50);
            background: linear-gradient(#bdc3c7, #2c3e50);
            text-align: left;
            box-sizing: border-box;
            padding: 20px 10px;
            cursor: pointer;
            color: black;
            display: none;
        }

        .wrapperindex {

        }

        .one {
            text-align: center;
        }

        .two {
            text-align: center;
        }

        @media screen and (max-width: 580px) {
            nav ul {
                max-height: 0;
            }
            .showing {
                max-height: 20em;
            }
            nav ul li {
                box-sizing: border-box;
                width: 100%;
                padding: 15px;
                text-align: left;
            }
            .handle {
                display: block;
            }
        }

        footer {
            background: black;
            width: 100%;
            padding: 2px 0;
            color: #ffbb10;
            text-align: center;
            width: 100%;
            bottom: 0;
        }


        /*.centerpanel {
            display:flex;
            align-items: center;
        }

        .left{
            margin: auto;
        }

        .right {
            margin: auto;
        }


        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            margin: 0px auto;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333333;
            margin: 0;
            padding: 0;
            font-size: 0.8em;
            color: #FFBB0F;
        }

        .conteneur {
            width: 80%;
            margin: 0 auto;
            padding: 0 0 80px;
        }

        .newsbd, .newslivre, .newscd, .resa {
            text-align: center;
            margin: auto;
        }

        .section {
            width: 80%;
            height: 200px;
            background: aqua;
            margin: auto;
        }

        .one {
            width: 50%;
            height: 200px;
            background: -webkit-linear-gradient(left, #FFBC0F , #878C95);
            float: left;
            text-align: center;
        }

        .two {
            margin-left: 50%;
            height: 200px;
            background: -webkit-linear-gradient(left, #878C95 , #FFBC0F);
            text-align: center;
            font-size: 0.8em;
        }

        .conteneurresa {
            width: 80%;
            margin: 0 auto;
            padding: 0 0 80px;
        }*/
