{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}


{% block body %}
    
    <div class="conteneurlisteresa">
    
        <h3>Liste des emprunts en cours :</h3>

        {% for listeemprunt in listeemprunts %}
            <p>{{listeemprunt.ouvrage.titre}} - emprunté par {{listeemprunt.utilisateur}}</p>
            
        {% endfor %}
    </div>

    
    {% endblock %}
