{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="conteneurlisteresa">
        <h3>Liste des réservations</h3>

        {% for adminlisteresa in adminlisteresas %}
            <p>{{adminlisteresa.ouvrage.titre}} - réservé par {{adminlisteresa.utilisateur}}</p>
            <a href ="{{ path("mediatheque_confirmemprunt",  {'id': adminlisteresa.id})}}">--> Valider l'emprunt <--</a>

        {% endfor %}
    </div>
{% endblock %}
