{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    
    <div class="conteneurconfirmemprunt">
        
    <p>L'ouvrage a bien été emprunté !</p>
    <a href="/">--> Retour à l'accueil ! <--</a>
    
    </div>
    
{% endblock %}