{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapperindex">

        <div class="one">
            <h1>Présentation</h1>
            <p>La bibliothèque municipale de Montreuil est constituée de quatre bibliothèques réparties dans la ville : la bibliothèque
                centrale Robert-Desnos et les trois bibliothèques de quartier : Paul-Éluard, Colonel-Fabien et Daniel-Renoult.<br>
                Fonds
                Le réseau des bibliothèques propose :
                - près de 180 000 livres
                - 33 000 CD
                - 360 revues

                Public
                Les personnes habitant ou travaillant à Montreuil, ainsi que les habitants des villes de la communauté d’agglomération (Bagnolet, Bobigny, Bondy, Les Lilas, Le Pré-Saint-Gervais, Noisy-le-Sec, Pantin, Romainville) peuvent emprunter gratuitement pour une durée de 4 semaines renouvelable une fois :
                - des livres, revues, bandes dessinées, CD (en nombre illimité)
                - DVD (2 fiction et 3 documentaires maximum)
                - des partitions (4 au maximum)
            </p>

        </div>

        <div class="two">
            <h1><br>Horaires</h1>
            <p>Mardi : 12h-20h</p>
            <p>Mercredi : 10h-18h</p>
            <p>Jeudi : 14h-19h</p>
            <p>Vendredi : 14h-19h</p>
            <p>Samedi : 10h-18h</p>
        </div>
    </div>

{% endblock %}
