{% extends 'base.html.twig' %}

{% block body %}

    <section class="section">
        <div class="one">
            <h3>Présentation</h3>
            <p>En plein coeur de ville, ouverte 34 heures par semaine, la bibliothèque Robert-Desnos est la plus importante des bibliothèques de Montreuil.
                Au sein de ses 3 300 m2, elle regroupe de vastes collections de livres, revues, CD et DVD pour tous les publics, petits et grands.</p>
        </div>
        
        <div class="two">
            <h3><br>Horaires</h3>
            <p>Mardi : 12h-20h</p>
            <p>Mercredi : 10h-18h</p>
            <p>Jeudi : 14h-19h</p>
            <p>Vendredi : 14h-19h</p>
            <p>Samedi : 10h-18h</p>
        </div>
    </section>

{% endblock %}


