{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapperindex">

        <div class="one">
            <h1>Présentation</h1>
            <p>Un espace enfant : 820 albums, 6 abonnements à des magazines, 1050 romans,680 documentaires.
                Un espace "périodiques" : 9 abonnements à des magazines, 3 abonnements à des quotidiens.Espace de lecture (consultation sur place)
                Un espace cinéma de 380 DVD. Un espace musical de 760 CD. Un espace de recherche documentaire grâce au catalogue numérique du 
                fonds de la médiathèque, mis à disposition des lecteurs. Divers espaces de travail sur place.

            </p>

        </div>

        <div class="two">
            <h1><br>Horaires</h1>
            <p>Mardi : 12h-20h</p>
            <p>Mercredi : 10h-18h</p>
            <p>Jeudi : 14h-19h</p>
            <p>Vendredi : 14h-19h</p>
            <p>Samedi : 10h-18h</p>
        </div>
    </div>

{% endblock %}
