{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="conteneurresa">
        <div class="resa">
            <h3>Liste de mes réservations :</h3><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date de réservation</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for mesreservation in mesreservations %}
                        <tr>
                            <td>{{ mesreservation.ouvrage.titre }}</td>
                            <td>{{mesreservation.date|date('Y-m-d')}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>   

{% endblock %}
