{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}



{% block body %}

    <div class="conteneurconfirmresa">

        <p>Votre réservation a bien été pris en compte</p>

        <a href="{{path("mediatheque_mesreservations")}}">--> Accéder à mes réservations <--</a>

    </div>

{% endblock %}
